.container {
  width: 90%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .container.xl-4 > * {
    padding: 14px;
  }
}

@media screen and (max-width: 900px) {
  .container.lg-3 > * {
    padding: 14px;
  }
}

@media screen and (max-width: 720px) {
  .container.md-2 > * {
    padding: 14px;
  }
}

@media screen and (max-width: 568p) {
  .container.sm-1 > * {
    padding: 10px;
  }
}
