.container {
  width: 90%;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

$xxl: 5;
$xl: 4;
$lg: 3;
$md: 2;
$sm: 1;

$grid: (
  xxl: $xxl,
  xl: $xl,
  lg: $lg,
  md: $md,
  sm: $sm,
);

$breakpoints: (
  xxl: 1440px,
  xl: 1200px,
  lg: 900px,
  md: 720px,
  sm: 568p,
);

@each $brk, $cols in $grid {
  @each $col in $cols {
    .container.#{$brk}-#{$col} > * {
      @if #{$brk} == xxl {
      } @else {
        @media screen and (max-width: map-get($breakpoints, #{$brk})) {
          @if #{$brk} == sm {
            padding: 10px;
          } @else {
            padding: 14px;
          }
        }
      }
    }
  }
}
